/* Variables shared with other classes that deals with cards */
/* ------------------------------------------------------------------------- */
:root {
  /* Adjust player card size (affects all cards as this is used as the main reference) */
  --player-card-width: 135px;
  
  /* Adjust gap between player-cards */
  --player-card-spacing-ratio: 3.75;
  
  /* Adjust selected card height */
  --player-card-selected-raise-ratio: 2.7;
  
  /* Adjust table card size relative to player hand */
  --table-card-ratio: 1.5;

  /* Adjust gap between table-cards - change this to really high with JS when showing the card deck (between games) */
  /* Card Deck: 60  -  Cards in Play: 2 */
  --table-card-spacing-ratio: 60;
  
  /* Updated by JS depending on how many cards are on hand or on table */
  --nr-of-cards-on-hand: 13;
  --nr-of-cards-on-table: 13;
  --nr-of-cards-opponent-1: 0;
  --nr-of-cards-opponent-2: 0;
  --nr-of-cards-opponent-3: 0;



  /* Calculation of containers, generally don't touch these */
  /* ****************************************************** */

  /* Used to calculate the height of a card for the container around it as card-t doesn't fill it properly */
  /* This ensures the container is exactly as high as the cards inside it */
  --card-height-ratio: 1.43;

  /* Calculates the width of the individual cards on the table */
  --card-on-table-width: calc(var(--player-card-width) / var(--table-card-ratio));
  
  /* Calculates the spacing between the player cards */
  --card-spacing: calc(var(--player-card-width) / var(--player-card-spacing-ratio));
  
  /* Calculates the spacing between table cards - That means it's possible to stack cards to simulate a deck of cards */
  /* as well as control the spacing of cards in the game */
  --card-on-table-spacing: calc(
    var(--card-on-table-width) /
      (var(--table-card-ratio) * var(--table-card-spacing-ratio))
  );
  
  /* Calculates how much a selected height ratio will be in px to raise a card that was selected */
  --card-selected-raise: calc(
    var(--player-card-width) / var(--player-card-selected-raise-ratio)
  );
}
