/* The container around a player-hand for positioning the hand on the screen */
.player-hand-container {
    position: relative;
    /* Offset from bottom */
    bottom: 40px;
    /* The card-t doesn't show up nicely within the player-hand-container, therefore the height and width
      are dynamically calculated */
    height: calc(var(--player-card-width) * var(--card-height-ratio));
    width: calc(
      (var(--card-spacing) * var(--nr-of-cards-on-hand)) +
        (var(--player-card-width) - var(--card-spacing))
    );
    /* Debug purposes */
    /* border: 3px solid rgb(255, 0, 0); */
  }
  
  /* The container around "card-t" for correct spacing */
  .player-card-container {
    position: absolute;
    width: var(--player-card-width);
    /* Debug purposes */
    /* border: 2px solid orange; */
    bottom: 0;
    left: 0;
  }
  
  /* nth-child's specify how to layer the cards with the z-index */
  .player-card-container:nth-child(1) {
    z-index: 1;
  }
  
  .player-card-container:nth-child(2) {
    z-index: 2;
    left: var(--card-spacing);
  }
  
  .player-card-container:nth-child(3) {
    z-index: 3;
    left: calc(var(--card-spacing) * 2);
  }
  
  .player-card-container:nth-child(4) {
    z-index: 4;
    left: calc(var(--card-spacing) * 3);
  }
  
  .player-card-container:nth-child(5) {
    z-index: 5;
    left: calc(var(--card-spacing) * 4);
  }
  
  .player-card-container:nth-child(6) {
    z-index: 6;
    left: calc(var(--card-spacing) * 5);
  }
  
  .player-card-container:nth-child(7) {
    z-index: 7;
    left: calc(var(--card-spacing) * 6);
  }
  
  .player-card-container:nth-child(8) {
    z-index: 8;
    left: calc(var(--card-spacing) * 7);
  }
  
  .player-card-container:nth-child(9) {
    z-index: 9;
    left: calc(var(--card-spacing) * 8);
  }
  
  .player-card-container:nth-child(10) {
    z-index: 10;
    left: calc(var(--card-spacing) * 9);
  }
  
  .player-card-container:nth-child(11) {
    z-index: 11;
    left: calc(var(--card-spacing) * 10);
  }
  
  .player-card-container:nth-child(12) {
    z-index: 12;
    left: calc(var(--card-spacing) * 11);
  }
  
  .player-card-container:nth-child(13) {
    z-index: 13;
    left: calc(var(--card-spacing) * 12);
    bottom: 0;
    /* bottom: var(--card-selected-raise); */
  }
  
  /* The class applied directly to "card-t" */
  .player-card {
    /* border: 2px solid yellow; */
    cursor: pointer;
  }