.player {
    background-color: transparent;
}

.player img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.player div {
    font-size: 16px;
    color: white;
}

/* Chips */
.opponent-left-chip {
    margin-left: 5%;
    margin-top: -280px;
}

.opponent-top-chip {
    margin-top: 4%;
    margin-left: -210px;
}

.opponent-right-chip {
    margin-right: 5%;
    margin-top: -280px;
}

.player-chip {
    margin-bottom: 60px;
    margin-left: -320px;
}

/* Align text in center for all chips */
.opponent-left-chip,
.opponent-right-chip,
.opponent-top-chip,
.player-chip > div {
    text-align: center;
}

/* Set shadow on images */
.opponent-left-chip,
.opponent-right-chip,
.opponent-top-chip,
.player-chip > img {
}

/* Highlight Name */
.player-chip > div {
    /* color: yellow; */
}

/* Highlight image */
.player-chip > img {
    border: solid 3px yellow;
}
