.player {
    background-color: transparent;
}

.player img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.player div {
    font-size: 16px;
    color: white;
}

/* Chips */
.opponent-left-chip {
    margin-left: 5%;
    margin-top: -280px;
}

.opponent-top-chip {
    margin-top: 4%;
    margin-left: -210px;
}

.opponent-right-chip {
    margin-right: 5%;
    margin-top: -280px;
}

.player-chip {
    margin-bottom: 60px;
    margin-left: -320px;
}

/* Align text in center for all chips */
.opponent-left-chip,
.opponent-right-chip,
.opponent-top-chip,
.player-chip > div {
    text-align: center;
}

/* Set shadow on images */
.opponent-left-chip,
.opponent-right-chip,
.opponent-top-chip,
.player-chip > img {
}

/* Highlight Name */
.player-chip > div {
    /* color: yellow; */
}

/* Highlight image */
.player-chip > img {
    border: solid 3px yellow;
}

.opponent-left,
.opponent-right {
    position: fixed;
    /* background-color: aqua; */
    top: 0;
    bottom: 0;
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.opponent-left {
    left: 0;
    transform-origin: 0 0;
    margin-left: 5%;
    transform: rotate(-90deg) translate(-50%, 0);
}

.opponent-right {
    right: 0%;
    left: 95%;
    transform-origin: 0 0;
    margin-right: 5%;
    transform: rotate(90deg) translate(-50%, 0);
}

/* This won't work here and is defined in index.html as well??? */
.opponent-top {
    top: 5%;
    max-width: fit-content;
}
